<footer class="container">
  <ul>
    <li><%= link_to 'サービスについて',    about_path %></li>
    <li><%= link_to 'よくある質問',        help_path %></li>
    <li><%= link_to '利用規約',           terms_path %></li>
    <li><%= link_to 'プライバシーポリシー', privacy_path %></li>
  </ul>
</footer>
