<header class="navber navber-fixed-top">
  <div class="container">
    <nav>
      <ul class="nav navber-nav navber-right">
        <li><%= link_to 'サービスについて',    about_path %></li>
        <li><%= link_to 'よくある質問',        help_path %></li>
        <li><%= link_to '利用規約',           terms_path %></li>
        <li><%= link_to 'プライバシーポリシー', about_path %></li>
      </ul>
    </nav>
  </div>
</header>
